.minesweeper-cell {
  width: 65px;
  height: 65px;
  background-color: #535bf2;
  border: 2px solid transparent;
  transition: background-color 0.1s, border 0.1s, opacity 0.1s, scale 0.3s;
  border-radius: 20%;
}

.minesweeper-cell-clicked {
  background-color: #535bf2;
  scale: 0.90;
  opacity: 0.3;
}

.minesweeper-cell-find {
  background-color: #535bf2;
  background-image: url('./check-circle.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent;
  scale: 1.20;
}